/* navbar section */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  margin: 50px 140px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 100px 150px;
 
}
.nav-title {
  font-size: 30px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 35px;
}

/* banner section */

.banner-section{
    background-color: whitesmoke;
  
  
}
.banner-info{
    text-align: center;
}
.banner-title{
    font-size: 3vw;
    font-weight: 700;
    margin: 0 35vw;
}
.banner-descrip{
font-size: 1vw;


margin: 0 22vw;
color: slategray;
margin-bottom: 1.5vw;
margin-top: 1.5vw;
}
.banner-btn{
border: none;
padding: 15px 20px;
color: bisque;
font-weight: 500;
font-size: 1.2vw;
background-color: #ff900e;
margin-bottom: 20px;
border-radius: 5px;
}
.banner-img{
    margin: 50px 140px;
}
div img{
    width: 100%;
}
/* banner-section-done */

/* second section starts... */
.quick-features-section{
    display: flex;
   justify-content: space-between;
   
   align-items: center;
   margin: 50px 180px;

}
.quick-features-images{
   display: flex;
 
   flex-wrap: wrap;
   gap: 15px;
  
 margin-right: 50px;

}
.quick-features-images img{
    width: 45%;
}

.quick-feature-title{
font-size: 3vw;
font-weight: 700;
}
.quick-feature-descrip{
font-size: 1vw;
color: slategrey;
margin-top: 10px;
margin-bottom: 20px;
}
/* quick feature section completed */

/* feature list section */